include pyproject.toml
include *.md
include tox.ini
include versioneer.py
include src/lana/_version.py
include *.js

recursive-include dist *.gz
recursive-include dist *.whl
recursive-include src *.pyc
recursive-include tests *.py
recursive-include src *.html
recursive-include src *.png
recursive-include src *.css
recursive-include src *.sql

exclude *.example
exclude *.pyo
exclude __pycache__
exclude .gitignore
exclude LICENSE
exclude .env

